@model Laboratorio_1.Models.NBAModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NBAModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team" class="control-label"></label>
                <input asp-for="Team" class="form-control" />
                <span asp-validation-for="Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Center" class="control-label"></label>
                <input asp-for="Center" class="form-control" />
                <span asp-validation-for="Center" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowerForward" class="control-label"></label>
                <input asp-for="PowerForward" class="form-control" />
                <span asp-validation-for="PowerForward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallForward" class="control-label"></label>
                <input asp-for="SmallForward" class="form-control" />
                <span asp-validation-for="SmallForward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointGuard" class="control-label"></label>
                <input asp-for="PointGuard" class="form-control" />
                <span asp-validation-for="PointGuard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShootingGuard" class="control-label"></label>
                <input asp-for="ShootingGuard" class="form-control" />
                <span asp-validation-for="ShootingGuard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
